*{
  background-color: #c49899;
}

header{
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #875d5e;
  padding: 10px;
  margin: 10px;
}

header h1{
  background-color: #875d5e;
}

footer{
  display: flex;
  justify-content: left;
  background-color: #a28b8c;
  padding: 10px;
  margin: 10px;
}

footer p{
  background-color: #a28b8c;
}

/* BARRA DE INTERACCION */
form {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre los elementos */
}

select {
  flex: 1;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
}

button[data-testid="button-clear"] {
  font-size: medium;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: #fff;
  border-radius: 10px;
  cursor: pointer;
}

#computeStatsButton {
  font-size: medium;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: #fff;
  border-radius: 10px;
  cursor: pointer;
}
  
/* DISEño TARJETAS */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  list-style-type: none;
}

.card-container{
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  margin: 10px;
  flex: 0 1 calc(25% - 20px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.2s;
  padding: 10px;
}

.card-container * {
  background-color: transparent;
}

.card-container:hover{
  transform: scale(1.05);
}

.card-container img{
  max-width: 90%;
  border-radius: 8px;
  margin: auto;
  display: block;
}

.card-container .card-title {
  font-weight: bold;
  font-size: large;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  margin-bottom: 10px;
  display: block;
}

.card-container .short-description {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10px;
}

.card-container [itemprop="alcoholContent"],
.card-container [itemprop="calorias"],
.card-container [itemprop="tiempoDePreparacion"] {
    font-weight: bold;
}

/*ESTADISTICAS*/
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#computeStatsButton {
  padding: 10px 20px;
  font-size: medium;
}

#statsResult {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.stat-box {
  flex: 1;
  text-align: center;
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.3);
}

.stat-box.result {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #333;
  color: #333;
  font-weight: bold;
}

/*DISEñO RESPONSIVE*/
@media screen and (min-width: 768px) {
  .card {
    flex: 0 1 calc(50% - 20px); /* Dos tarjetas por fila en tablets */
  }
}

@media screen and (min-width: 1024px) {
  .card {
    flex: 0 1 calc(25% - 20px); /* tres tarjetas por fila en escritorio */
  }
}

@media screen and (max-width: 600px) {
  form {
      flex-direction: column;
  }
}